<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>

    <h1>Füllen Sie die Felder aus um einen neuen Artikel zu speichern</h1>
    <form name="bread" th:object="${bread}" method="post" action="/edit">
        <fieldset>
            <input type="submit" id="submitButton" th:value="Save">
            <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
            <table>
                <thead>
                <tr>
                    <th> Bezeichnung</th>
                    <th> Artikel</th>
                    <th> Bild</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input th:field="${bread.name}" /></td>
                    <td><input th:field="${bread.articleNumber}" /></td>
                    <td><input th:field="${bread.picture}" /></td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </form>


    <footer>
        <a th:href="@{/}">Zurück</a>
    </footer>