<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bestellung</title>

</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
    .sum{
        text-align: left;
    }
    .myclass{
        width: 50%;
        margin: 10px auto;
        text-align: center;
    }
    table{
        margin: 0 auto;
        width: 20%;
    }

    input{
        width: 90%;
        text-align: center;
    }
    h5,
    h2{
        text-align: center;
        text-decoration: cadetblue;
    }
    label,
    .week{
        margin: 20px auto;
        display: flex;
        width: 50%;
    }


</style>
<body>
<h2 th:text="|Tour ${tourNumber}|"></h2>
<h2  th:text="|Bestellungen für ${client.name} |" > Bestellungen</h2>
<div class="week">
    <label for="calenderWeek">Kalenderwoche </label>
    <input class="week" form="form" id="calenderWeek" type="week" >
</div>

<table>
    <thead>
    <tr>
        <td>Artikel</td>
        <td>Bild</td>
        <td>Bezeichnung</td>
        <td>Montag</td>
        <td>Dienstag</td>
        <td>Mittwoch</td>
        <td>Donnerstag</td>
        <td>Freitag</td>
        <td>Samstag</td>
    </tr>
    </thead>
    <form id="form" th:object="${breads}" method="post" action="/update">
        <fieldset>
        <tbody th:each="bread, itemStatus:  *{breads}">
        <td th:text="*{breads[__${itemStatus.index}__].articleNumber}"></td>
        <td><img th:src="*{breads[__${itemStatus.index}__].picture}" width="40px" height="40px"></td>
        <td th:text="*{breads[__${itemStatus.index}__].name}"></td>

        <td><input th:field="*{breads[__${itemStatus.index}__].orders[0]}" type="number" min="0"></td>
        <td><input th:field="*{breads[__${itemStatus.index}__].orders[1]}" type="number" min="0"></td>
        <td><input th:field="*{breads[__${itemStatus.index}__].orders[2]}" type="number" min="0"></td>
        <td><input th:field="*{breads[__${itemStatus.index}__].orders[3]}" type="number" min="0"></td>
        <td><input th:field="*{breads[__${itemStatus.index}__].orders[4]}" type="number" min="0"></td>
        <td><input th:field="*{breads[__${itemStatus.index}__].orders[5]}" type="number" min="0"></td>
<!--        hiddenInputs-->
        <input type="hidden", th:field="*{breads[__${itemStatus.index}__].id}">
        <input type="hidden", th:field="*{breads[__${itemStatus.index}__].name}">
        <input type="hidden", th:field="*{breads[__${itemStatus.index}__].picture}">
        <input type="hidden", th:field="*{breads[__${itemStatus.index}__].articleNumber}">


        <input type="hidden", name="client" th:value="${client.id}">
        <input type="hidden", name="tourNumber" th:value="${tourNumber}">

<!--        <td class="sum" th:text="${#aggregates.sum(order.getOrders())}"></td>-->
        </fieldset>
    </form>
    </tbody>
</table>

<div class="myclass" th:if="${isSaved}">
    <h1> Eingaben gespeichert !</h1>

</div>





<footer>
    <button th:if="${!isSaved} "form="form" type="submit" class="btn btn-secondary btn-lg btn-block myclass" >Speichern</button>
    <form th:object="${tourNumber}" action="/go" method="post" >
        <input type="hidden" name="number" th:value="${tourNumber}">

    </form>
    <form method="post" action="/change" th:object="${tourNumber}" >
        <input type="hidden" name="tourNumber" th:value="${tourNumber}">
        <button type="submit" class="btn btn-secondary btn-lg btn-block myclass" >Zurück</button>
    </form>
</footer>
</body>
</html>
