<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bestellung</title>

</head>
<body>
<h2> Bestellungen</h2>

<table>
    <thead>
    <tr>
        <td>Artikel</td>
        <td>Bild</td>
        <td>Bezeichnung</td>
        <td>Kunde</td>
        <td>Montag</td>
        <td>Dienstag</td>
        <td>Mittwoch</td>
        <td>Donnerstag</td>
        <td>Freitag</td>
        <td>Samstag</td>
        <td> Gesamtmenge</td>
    </tr>
    </thead>
    <form  th:object="${orders}"  method="post" action="/update">
        <fieldset>
        <tbody th:each="order, itemStatus: *{orderList}">
        <td th:text="*{orderList[__${itemStatus.index}__].bread.getName()}"></td>
        <td><img th:src="*{orderList[__${itemStatus.index}__].bread.getPicture()}" width="40px" height="40px"></td>
        <td th:text="*{orderList[__${itemStatus.index}__].bread.getArticleNumber()}"></td>
        <td th:name="client" th:text="*{orderList[__${itemStatus.index}__].client.getName()}"></td>
        <td><input th:field="*{orderList[__${itemStatus.index}__].orders[0]}" type="number" th:min="0"></td>
        <td><input th:field="*{orderList[__${itemStatus.index}__].orders[1]}" type="number" th:min="0"></td>
        <td><input th:field="*{orderList[__${itemStatus.index}__].orders[2]}" type="number" th:min="0"></td>
        <td><input th:field="*{orderList[__${itemStatus.index}__].orders[3]}" type="number" th:min="0"></td>
        <td><input th:field="*{orderList[__${itemStatus.index}__].orders[4]}" type="number" th:min="0"></td>
        <td><input th:field="*{orderList[__${itemStatus.index}__].orders[5]}" type="number" th:min="0"></td>
        <td><input th:type="hidden" th:field="*{orderList[__${itemStatus.index}__].bread}" ></td>
        <td><input th:type="hidden" th:field="*{orderList[__${itemStatus.index}__].client}" ></td>
        <td><input th:type="hidden" th:field="*{orderList[__${itemStatus.index}__].id}" ></td>

        <td th:text="${#aggregates.sum(order.getOrders())}">154</td>
        </fieldset>

    <button type="submit">Speichern</button>
    </form>
    </tbody>
</table>

<ul th:each="tour: ${tur}">
    <li th:text="${tour}"></li>

</ul>


<footer>
    <a th:href="@{/}">Zurück</a>
</footer>
</body>
</html>
