<!doctype html >
<html lang="de" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<style>
    button{
        width: 120px;
        height: 45px;
    }
    table,
    .container{
        margin: 20px auto;
        text-align: center;
    }
</style>
<body class="p-3 m-0 border-0 bd-example m-0 border-0">

<!-- Example Code -->
<div class="container">
<table>
    <tr>
        <td>Bitte wählen sie Tour aus </td>
    </tr>
    <form th:object="${tourNumber}"  action="/go" method="post" th:each="tour: ${toures}">

        <tbody>
        <td>
            <input type="hidden" name="number" th:value="${tour.tourNumber}">
            <button class="btn btn-secondary btn-lg btn-block" type="submit" th:text="${tour.tourNumber}">Wähle</button>
        </td>
        </tbody>
    </form>
</table>
</div>

<!-- End Example Code -->
</body>
</html>